<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrap-1 at">
        <img src="/img/sent.jpg" alt="sent-logo">
        <h1>Message Sent!</h1>
    </div>
    <header class="header">
        <div class="head">
            <img src="/img//logo2.png" alt="logo" id="logo">
            <h1>SMS Sender</h1>
        </div>
        <ul class="links">
            <li><a href="/index">Compose</a></li>
            <li><a href="/template">Template</a></li>
        </ul>
    </header>
    <div class="container" id="table-container">
        <div class="row my-5">
            <div class="col table-responsive-sm">
                <table class="table table-striped shadow">
                    <thead>
                        <tr>
                            <!-- <th scope="col">Name</td> -->
                            <th scope="col">Number</th>
                            <th scope="col">Messege</th>
                            <th scope="col">Sender</th>
                            <th scope="col">Time Sent</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < histories.length ; i++) { %>
                        <tr>
                            <!-- <td scope="row" class="text-truncate">Mark Otto de modo</td> -->
                            <td><%= histories[i].to %></td>
                            <td class="text-truncate"><%= histories[i].message %></td>
                            <td class="text-truncate"><%= histories[i].from %></td>
                            <td class="text-truncate"> <%= histories[i].createdAt.toLocaleString('en-us', {month: 'long' , day: '2-digit' , year: 'numeric'
                                , minute: '2-digit' , hour: '2-digit' }) %></td>  
                                <form method="get" action="/edit/<%= histories[i]._id %>">      
                                <td class="button-td"><button class="btn btn-link" type="submit">Edit</button></td>
                                </form>
                            <form method="post" action="/api/v1/messages/:id">
                                <input type="hidden" name="messageId" value="<%= histories[i]._id %>">
                            <td class="button-td"><button class="btn btn-link" type="submit">Resend</button></td>
                            </form>
                        </tr>
                        <% } %>
                        <!-- <tr>
                            <td scope="row" class="text-truncate">Mark Otto de modo</td>
                            <td>(+233) (0) 55 63 23 849</td>
                            <td class="text-truncate">Hello Enoch we need to talk
                                okay I'm late bye</td>
                            <td class="text-truncate">Eric Garcia</td>
                            <td class="text-truncate">January, 12 2021 12: 15AM</td>
                            <td class="button-td"><button class="btn btn-link">Edit</button></td>
                            <td class="button-td"><button class="btn btn-link">Send</button></td>
                        </tr>
                        <tr>
                            <td scope="row" class="text-truncate">Mark Otto de modo</td>
                            <td>(+233) (0) 55 63 23 849</td>
                            <td class="text-truncate">Hello Enoch we need to talk
                                okay I'm late bye</td>
                            <td class="text-truncate">Eric Garcia</td>
                            <td class="text-truncate">January, 12 2021 12: 15AM</td>
                            <td class="button-td"><button class="btn btn-link">Edit</button></td>
                            <td class="button-td"><button class="btn btn-link">Send</button></td>
                        </tr>
                        <tr>
                            <td scope="row" class="text-truncate">Mark Otto de modo</td>
                            <td>(+233) (0) 55 63 23 849</td>
                            <td class="text-truncate">Hello Enoch we need to talk
                                okay I'm late bye</td>
                            <td class="text-truncate">Eric Garcia</td>
                            <td class="text-truncate">January, 12 2021 12: 15AM</td>
                            <td class="button-td"><button class="btn btn-link">Edit</button></td>
                            <td class="button-td"><button class="btn btn-link">Send</button></td>
                        </tr>
                        <tr>
                            <td scope="row" class="text-truncate">Mark Otto de modo</td>
                            <td>(+233) (0) 55 63 23 849</td>
                            <td class="text-truncate">Hello Enoch we need to talk
                                okay I'm late bye</td>
                            <td class="text-truncate">Eric Garcia</td>
                            <td class="text-truncate">January, 12 2021 12: 15AM</td>
                            <td class="button-td"><button class="btn btn-link">Edit</button></td>
                            <td class="button-td"><button class="btn btn-link">Send</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="col-2"></div> -->
        </div>


        <script src="/js/index.js"></script>
</body>

</html>